<div style = " margin-top : 60px;">
<h3>Your Inventory overview today:</h3>

<h4 style = " margin-top : 20px;">Fast moving item</h4>
<div style="clear:both;margin-top:0px;background:#fff">
<% if(report.fastMovingItem){%>
	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Product Name :
		<span style="font-weight:normal"><%= report.fastMovingItem.name %></span>
	  </div>
	</div>

	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Product Id :
		<span style="font-weight:normal"><%= report.fastMovingItem.productId %></span>
	 	</div>
	 </div>

	 <div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Total no.of quantity billed today :
		<span style="font-weight:normal"><%= report.fastMovingItem.lastBilledCount %></span>
	 	</div>
	 </div>
<%}else{%>
	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   products yet to be sold!
	  </div>
	</div>
<%}%>
</div>

<h4 style = " margin-top : 20px;">Slow moving item</h4>
<div style="clear:both;margin-top:0px;background:#fff; position: relative;">
<% if(report.slowMovingItem){%>
	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Product Name :
		<span style="font-weight:normal"><%= report.slowMovingItem.name %></span>
	  </div>
	</div>

	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Product Id :
		<span style="font-weight:normal"><%= report.slowMovingItem.productId %></span>
	 	</div>
	 </div>

	 <div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Total no.of quantity billed today :
		<span style="font-weight:normal"><%= report.slowMovingItem.lastBilledCount %></span>
	 	</div>
	 </div>

	 <div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   	Remaining Quantity : 
		<span style="font-weight:normal"><%= report.slowMovingItem.quantity %></span>
	 	</div>
	 </div>

	 <div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   	Expires on : 
		<span style="font-weight:normal"><%= report.slowMovingItem.expiryDate %></span>
	 	</div>
	 </div>
	 <% 
	 	var currentDate = new Date();
        var prLife = Math.ceil((report.slowMovingItem.expiryDate.getTime() - currentDate.getTime())/(1000*3600*24));
        var prSellingRatio = report.slowMovingItem.lastBilledCount;
        var prQuantity = report.slowMovingItem.quantity;
        var dangerRatio =  Math.ceil(report.slowMovingItem.quantity / prLife);
    	if(dangerRatio > report.slowMovingItem.lastBilledCount){%>
    		<div class = "item-warning-bubble item-warning-bubble-animation">
        		<span style="padding:0">Attention...</span>
        	</div>
        <%}%>
     <div class="row">
	  	<div class="span12" style="padding:10px;font-weight:bold">
	   	You've to sell <%= dangerRatio %> products per day. It expires in <%=prLife %> days!!</span>
	 	</div>
	 </div>

<%}else{%>
	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   No more products billed!!
	  </div>
	</div>
<%}%>
</div>
<br/>
<br/>
<div id="container"></div>

<script>

$(function () {
    var productBrands = '<%- productBrands %>';
    productBrands = JSON.parse(productBrands);
    
    
    var getYoy = function(id){
        var billedItems = '<%- billedItems %>';
        var list = JSON.parse(billedItems);
        
        var quantity = 0;
        
        list.forEach(function(o){
            if(o.dateSold.substring(o.dateSold.length-4, o.dateSold.length) == "2014"){
                    if(o.productId == id){
                        quantity += o.quantity;
                    }
                }
                
            });
        return quantity;
        }
    
    var getLast = function(id, noOfMonths){
        var billedItems = '<%- billedItems %>';
        var list = JSON.parse(billedItems);
        
        var quantity = 0;
        
        list.forEach(function(o){
            if((parseInt((new Date()).getMonth()+1) - o.dateSold.split("/")[1].substring(0,2)) <= noOfMonths ){
                    if(o.productId == id){
                        quantity += o.quantity;
                    }
                }                
            });
        return quantity;
    }
    
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Sale Trends - Shampoo'
        },
        subtitle: {
            text: ' '
        },
        xAxis: {
            categories: ['YoY - 5 months', 'Last 3 months', 'Last 6 months'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Quantity',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ''
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: productBrands[0].productName,
            data: [getYoy(productBrands[0].productId), 
                   getLast(productBrands[0].productId, 3), 
                   getLast(productBrands[0].productId, 6)]
        }, {
            name: productBrands[1].productName,
            data: [getYoy(productBrands[1].productId), 
                   getLast(productBrands[1].productId, 3), 
                   getLast(productBrands[1].productId, 6)]
        }, {
            name: productBrands[2].productName,
            data: [getYoy(productBrands[2].productId), 
                   getLast(productBrands[2].productId, 3), 
                   getLast(productBrands[2].productId, 6)]
        }, {
            name: productBrands[3].productName,
            data: [getYoy(productBrands[3].productId), 
                   getLast(productBrands[3].productId, 3), 
                   getLast(productBrands[3].productId, 6)]
        }, {
            name: productBrands[4].productName,
            data: [getYoy(productBrands[4].productId), 
                   getLast(productBrands[4].productId, 3), 
                   getLast(productBrands[4].productId, 6)]
            }]
    });
});   
    
</script>
