<div style = " margin-top : 60px;">
<h3>Your Inventory overview today:</h3>

<h4 style = " margin-top : 20px;">Fast moving item</h4>
<div style="clear:both;margin-top:0px;background:#fff">
<% if(report.fastMovingItem){%>
	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Product Name :
		<span style="font-weight:normal"><%= report.fastMovingItem.name %></span>
	  </div>
	</div>

	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Product Id :
		<span style="font-weight:normal"><%= report.fastMovingItem.productId %></span>
	 	</div>
	 </div>

	 <div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Total no.of quantity billed today :
		<span style="font-weight:normal"><%= report.fastMovingItem.lastBilledCount %></span>
	 	</div>
	 </div>
<%}else{%>
	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   products yet to be sold!
	  </div>
	</div>
<%}%>
</div>

<h4 style = " margin-top : 20px;">Slow moving item</h4>
<div style="clear:both;margin-top:0px;background:#fff; position: relative;">
<% if(report.slowMovingItem){%>
	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Product Name :
		<span style="font-weight:normal"><%= report.slowMovingItem.name %></span>
	  </div>
	</div>

	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Product Id :
		<span style="font-weight:normal"><%= report.slowMovingItem.productId %></span>
	 	</div>
	 </div>

	 <div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   Total no.of quantity billed today :
		<span style="font-weight:normal"><%= report.slowMovingItem.lastBilledCount %></span>
	 	</div>
	 </div>

	 <div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   	Remaining Quantity : 
		<span style="font-weight:normal"><%= report.slowMovingItem.quantity %></span>
	 	</div>
	 </div>

	 <div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   	Expires on : 
		<span style="font-weight:normal"><%= report.slowMovingItem.expiryDate %></span>
	 	</div>
	 </div>
	 <% 
	 	var currentDate = new Date();
        var prLife = Math.ceil((report.slowMovingItem.expiryDate.getTime() - currentDate.getTime())/(1000*3600*24));
        var prSellingRatio = report.slowMovingItem.lastBilledCount;
        var prQuantity = report.slowMovingItem.quantity;
        var dangerRatio =  Math.ceil(report.slowMovingItem.quantity / prLife);
    	if(dangerRatio > report.slowMovingItem.lastBilledCount){%>
    		<div class = "item-warning-bubble item-warning-bubble-animation">
        		<span style="padding:0">Attention...</span>
        	</div>
        <%}%>
     <div class="row">
	  	<div class="span12" style="padding:10px;font-weight:bold">
	   	You've to sell <%= dangerRatio %> products per day. It expires in <%=prLife %> days!!</span>
	 	</div>
	 </div>

<%}else{%>
	<div class="row">
	  <div class="span12" style="padding:10px;font-weight:bold">
	   No more products billed!!
	  </div>
	</div>
<%}%>
</div>
<br/>
<br/>
<div id="container"></div>

<script>

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Trendz in previous year - Shampoo'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Quantity',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ''
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
        }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'Year 2008',
            data: [973, 914, 4054, 732, 34]
        }]
    });
});
</script>
