<div class = "hero-unit">
  <h2>Dashboard</h2>
</div>
<div class="span10"> <%- linkTo('Add a new Product', addProductPath, {class: 'btn btn-primary ', style : 'margin-bottom: 45px;  float: right; margin-right:20px;'}); %></div>

<div id="products-list" style="clear:right">
    <% if (products) { %>
    <% for (var i = 0, ii = products.length; i < ii; i++) { %>
      <div class="row list-item" id="product-<%= products[i].id; %>">
        <div class="span10" style = "position:relative">
      <h3>
        <%- linkTo( products[i].name, editProductPath(products[i].id), {}) %></h3>
        <div>
            <span>Remaining Quantity : </span>
            <span><%= products[i].quantity; %></span>
      </div>
      <div>
            <span>Product ID : </span>
            <span><%= products[i].productId; %></span>
      </div>
        <div>
            <span>Expiry Date : </span>
            <span><%= products[i].expiryDate.getDate(); %>/<%= products[i].expiryDate.getMonth()+1; %>/<%= products[i].expiryDate.getFullYear(); %></span>
      </div>
        
        <% var currentDate = new Date();
        if(products[i].quantity < 10) { %>     
                <% if(!products[i].isOrderPlaced) { %> 
                  <div class = "item-warning-bubble">
                    <span style="padding:0">Only <%= products[i].quantity %> items remaining.</span><br>
                    <span style="padding:0"><%- linkTo( "Click here to place order.", '/sendMail?id='+products[i].id, {}) %></span>
                  </div>
                <% } else { %>
                    <div class = "item-warning-bubble" style="background:green !important">An Order has been placed for the items.</div>
                <% } %>
          <% } 
        else if(products[i].expiryDate > currentDate){
            if(Math.ceil((products[i].expiryDate.getTime() - currentDate.getTime())/(1000*3600*24)) <= 5){ %>
        <div class = "item-warning-bubble">
            <span style="padding:0">Nearing Expiry Date...</span>
            </div>
        <% } }
        else if(products[i].expiryDate < currentDate){ %>
        <div class = "item-warning-bubble">
            <span>Item has expired!</span>
            </div>
        <% } %>
    </div>
          
  </div>
<% } %>
<% } %>
</div>